body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 80%;
}
header{
background-color: beige;
border: solid 1px black;
border-radius:2px;
}
nav {
    display: inline-block;
    width: 80%;
}

.img_index {
    width: 10%;
    position: relative; 
    top: 20px;
}
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    row-gap: inherit;
}
.grid img {
    width: 80%;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{
    background-color: aqua;
    font-size: 15px;
}
footer {
    background-color: antiquewhite;
}


h1 { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: red;
}

